<a href="https://colab.research.google.com/github/jessekafor/JessicakINFOSpring2020/blob/master/Assignment_11_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pymysql
#import sqlite3
from sqlalchemy import create_engine
import pandas as pd
import openpyxl

#Created database/table in MySQL Administrator but below added to show I know how

data = pymysql.connect("localhost", "root", "Update12!")
dbcursor = data.cursor()

sqldb = "CREATE DATABASE data_11"
dbcursor.execute(sqldb)

#reconnect with data_11 database to create the table

data = pymysql.connect("localhost", "root", "Update12!", "data_11")
dbcursor = data.cursor()

sqltable = "CREATE TABLE dates_num(dates DATETIME, numbers INT(10))"
dbcursor.execute(sqltable)

#We must use pandas to read csv and sqlalchemy to connect and use to_sql()
csv_data = pd.read_csv("C:/Users/Jessica/Downloads/assign11-1-ch02-data.csv", sep=",")
df = pd.DataFrame(csv_data)

df["dates"] = pd.to_datetime(df["dates"])
df["numbers"] = pd.to_numeric(df["numbers"])

#conn = sqlite3.connect("data_11.db") only for sqlite database
#here is connection using sqlalchemy and pymysql singce mysldb does not work
engine = create_engine('mysql+pymysql://root:Update12!@localhost:3306/data_11')

"""
#testing make sure empty
test_query = "SELECT * FROM dates_num"
read_query1 = pd.read_sql_query(test_query,engine)
print(read_query1)
"""

#set index true to create index as a column great if need primary key column
df.to_sql(name="dates_num", con=engine, if_exists="append",index=False)

sql_sum = "select SUM(numbers) as 'sum of numbers' from dates_num group by dates"

"""
#read sql query
read_query2 = pd.read_sql_query(sql_num,engine)
print(read_query2)

"""

command=dbcursor.execute(sql_sum)
results=dbcursor.fetchall()

file_path = 'C:/Users/Jessica/Documents/sum-of-numbers.xlsx'
writer = pd.ExcelWriter(file_path)

df2 = pd.DataFrame(results)
df2.to_excel(writer, index=False, encoding='utf-8', sheet_name='Sheet')
writer.save()

#Close the connection to the database.
dbcursor.close()