<a href="https://colab.research.google.com/github/jessekafor/JessicakINFOSpring2020/blob/master/Assignment_11_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pymysql
#import sqlite3
from sqlalchemy import create_engine
import pandas as pd
import openpyxl

#Created database/table in MySQL Administrator but below added to show I know how

def create_database(host,user,passw,dbname):
    data = pymysql.connect(host, user, passw)
    dbcursor = data.cursor()
    sqldb = "CREATE DATABASE "+dbname+""
    dbcursor.execute(sqldb)

    data.commit()
    dbcursor.close()
    data.close()

create_database("localhost", "root", "Update12!","data_11")

def create_table(host,user,passw,dbname,tablename):
    data = pymysql.connect(host,user,passw,dbname)
    dbcursor = data.cursor()
    sqltable = "CREATE TABLE "+tablename+"(dates DATETIME, numbers INT(10))"
    dbcursor.execute(sqltable)

    data.commit()
    dbcursor.close()
    data.close()

create_table("localhost","root","Update12!","data_11","dates_num")

#We must use pandas to read csv and sqlalchemy to connect and use to_sql()
def read_date_num_csv_to_sql(filep,user,passw,host,port,dbname):
    csv_data = pd.read_csv(filep, sep=",")
    df = pd.DataFrame(csv_data)
    df["dates"] = pd.to_datetime(df["dates"])
    df["numbers"] = pd.to_numeric(df["numbers"])

    engine = create_engine('mysql+pymysql://'+user+':'+passw+'@'+host+':'+port+'/'+dbname+'')
    # set index true to create index as a column great if need primary key column
    df.to_sql(name="dates_num", con=engine, if_exists="append", index=False)

read_date_num_csv_to_sql("C:/Users/Jessica/Downloads/assign11-1-ch02-data.csv","root","Update12!","localhost","3306","data_11")

# conn = sqlite3.connect("data_11.db") only for sqlite database
# here is connection using sqlalchemy and pymysql singce mysldb does not work

def export_xlsx(host,user,passw,dbname,tablename,file_path):
    data = pymysql.connect(host,user,passw,dbname)
    dbcursor = data.cursor()

    sql_sum = "select SUM(numbers) as 'sum of numbers' from "+tablename+" group by dates"

    """
    #read sql query
    read_query2 = pd.read_sql_query(sql_num,engine)
    print(read_query2)
    """
    command=dbcursor.execute(sql_sum)
    results=dbcursor.fetchall()

    writer = pd.ExcelWriter(file_path)

    df2 = pd.DataFrame(results)
    df2.to_excel(writer, index=False, encoding='utf-8', sheet_name='Sheet')
    writer.save()

    #Close the connection to the database.
    data.commit()
    dbcursor.close()
    data.close()

export_xlsx("localhost","root","Update12!","data_11","dates_num",'C:/Users/Jessica/Documents/sum-of-numbers.xlsx')