<a href="https://colab.research.google.com/github/jessekafor/JessicakINFOSpring2020/blob/master/Final_exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. write a function which could print a string content. The requirements are as follows (20’)
*   (1) the function accepts one argument which is printed as the string content (10’)
*   (2) the value of the argument should be provided in command line (10’)

In [34]:
def helloWorld(value):
    print(value);

value = input("please input a string: ")
#accept as an argument
helloWorld(value)

please input a string: hello world!
hello world!

2. Write a program that could sum all the even digit in the scope of 1-1000. The requirements are as follows. (20’)
*   (1) use the function of range to express the scope of 1-1000 (10’)
*   (2) use for loop to deal with the scope (10’)

In [19]:
total = 0
#in the range added one to include 1000 in the scope
for i in range(1, 1000+1):
  if i % 2 == 0:
    total += i

print(total)

250500


3: Given a number list which is numbers=[12,10,3,2,[6,[7,8,9],19,21],21]. Write a function that can get the product of all the numbers in the list. The requirements are as follows. (20’)
*   (1) write the function by recursion (10’)
*   (2) the “numbers” should be an argument of the function (5’)
*   (3) the function returns a number (5’)

In [33]:
def productOfNums(numbers,product):
  for i in numbers:
    if type(i) is list:
      #function calling itself
      product=productOfNums(i,product)
    else:
      product=product*i

  return product

numbers=[12,10,3,2,[6,[7,8,9],19,21],21]
#I start off product with 1 because anything multiplied by 1 is itself
print(productOfNums(numbers,1))

18243429120

4. Given a matrix which is matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]. Write a function to complete the following task. (30’)
*   (1) turn the matrix (List) into an array (5’)
*   (2) use mask to set all the value above 20 to 0 (15’)
*   (3) output the result into a txt file (10’)

On video: https://drive.google.com/file/d/1zrYps5vF2CRhpmxoc25sCWjG8QdO-BWs/view

In [0]:

import numpy as np
from numpy import *

def newListMatrix():
  matrix=[[23,43,12],[32,12,52],[15,35,52],[19,28,56]]
  newList = np.array(matrix)
  newList[newList > 20 ] = 0
  with open('results.txt', 'w') as output:
      output.write(str(newList))
  output.close()

newListMatrix()

5. Given a number list which is numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]. Write a function to complete the following task. (30’)
*   (1) count the frequency of each different number in numbers list (10’)
*   (2) store the result into dictionary (10’)
*   (3) print it out (10’)

In [39]:
numbers=[1,3,2,4,2,3,2,2,3,2,2,4,2,32,3,2,4,2,3,5,3,2,4,2,2,4,2,2,4,2,2,3,1,3,2,3]

def countFreq(numbers):
  dictItems = dict()

  for i in numbers:
    if i in dictItems:
      dictItems[i] += 1
    else:
      dictItems[i] = 1

  dictItems = {key: value for key, value in dictItems.items() if value > 0}
  for key, value in dictItems.items():
    print(key, value)

countFreq(numbers)

1 2
3 9
2 17
4 6
32 1
5 1

6: Create a class Point which represent a point in two dimensions. It has two properties x and
y. The detail requirements are as follows.
*   (1) When creating an object of Point, we can assign the value to x and y. If we don’t provide
the value, they will be 0. (10’)
*   (2) If we print the object of Point directly, it will output the value of x and y. Its running
effect is as follows. (10’)

In [20]:
class Point:
  def __init__(self,x=0,y=0):
    self.x=x
    self.y=y

def print_point(p):
  print("The Point is ({0},{1})".format(p.x,p.y))

p=Point(3,4)
print_point(p)

The Point is (3,4)

*   (3) if we create two different objects of Point which are p1 and p2, (p1+p2) will get a new
Point whose x is (p1.x+p2.x) and y is (p1.y+p2.y). Suppose p1(1,3) and p2(3.,4), then the
result of print(p1+p2) is shown as follows. (10’)

In [24]:
class Point:
  def __init__(self,x=0,y=0):
    self.x=x
    self.y=y
    
def add_points(p1,p2):
  mx=(p1.x+p2.x)
  my=(p1.y+p2.y)
  return Point(mx,my)

def print_point(p):
  print("The Point is ({0},{1})".format(p.x,p.y))

p1=Point(1,3)
p2=Point(3,4)

#The result in the docx says its (5,7) which is wrong since (p1.x+p2.x) is (1+3) = 4 so (4,7)
print_point(add_points(p1,p2))

The Point is (4,7)

7: Given an excel file named “catering_sale_all.xls”. It stores the sale situation of several
kinds of food on one month. Write a program that could print the total sales volume of the
month by a specific food. The detail requirements are follows.(50’)

*   (1) when running the program, it will list all the food with a fixed number in 
the excel (10’)
*   (2) it notify a user to specific one number (10’)
*   (3) it print the specific food’s total sales volume of one month (10’)
*   (4) after print the result, a user could switch to print another food’s sales volume (10’)
*   (5) when the user select exit, the program exits (10’)
Its running effects are as follows.

In [0]:
import pandas as pd
import numpy as np
import sys

df = pd.read_excel('catering_sale_all.xls')
col = df.columns[1:].values.tolist()
insert_at = 0
#copy of food column names
food = col[:]
food[insert_at:insert_at] = ['exit']
row = len(food)

for i in range(row):
  print(i,food[i])

#Python 3 so we use input not raw_input

num = input("please input a number: ")

if int(num) == 0:
  sys.exit()

while int(num) >= 1 and int(num) < 11:
  total_volume = sum(df[food[int(num)]])
  column_name = food[int(num)]
  print("The total sale of "+str(column_name)+" is "+str(total_volume))
  for i in range(row):
    print(i, food[i])
  num = input("please input a number: ")

8. Given a sql file named “world.sql” which are exported from MySQL by MySQL GUI
Tools (For Mac: MySQL Workbench, For Windows: MySQL Administrator). Write a series of functions to complete the following tasks. (50’)
*   (1) import the data into MySQL — this is an operation not program (10’)
The result is as follows.
*   (2) write a function to connect to the ”world” schema by using of “pymysql” module (10’)
*   (3) For the “country” table, write a function to retrieve the average life expectancy of every
continent (20’)
*   (4) print the result (10’)

In [0]:
import pymysql

def conndb():
  world = pymysql.connect("localhost", "root", "Update12!", "world")
  dbcursor = world.cursor()
  return (world,dbcursor)

def avgLifeExpectancy():
  conn=conndb()
  sql = "SELECT AVG(LifeExpectancy), Continent FROM country GROUP BY Continent"
  command = conn[1].execute(sql)
  data = conn[1].fetchall()

  print("avglife | continent")
  for row in data:
    print(row[0]," | ",row[1])

  conn[1].close()
  data = ""
  conn[0].close()

avgLifeExpectancy()

9. Using the “world” schema imported in Question 8. For the “country” table, write a series of functions to complete the following tasks. (50’)
*   (1) write a function to connect to the ”world” schema by using of “pymysql” module (10’)
*   (2) write a function to calculate the total population by every continent (20’)
*   (3) use pie plot to display the result. (20’)
The final result is as follows.

In [0]:
import pymysql
import matplotlib.pyplot as plt

def conndb():
  world = pymysql.connect("localhost", "root", "Update12!", "world")
  dbcursor = world.cursor()
  return (world,dbcursor)

def populationPieChart():
  conn=conndb()
  sql = "SELECT SUM(Population), Continent FROM country GROUP BY Continent"
  conn[1].execute(sql)
  data = conn[1].fetchall()

  population =[]
  continent=[]
  explode= 0.1,0.1,0.1,0.1,0.1,0.1,0.1

  for row in data:
    population.append(row[0])
    continent.append(str(row[1]))

  #Plot
  plt.title('population by continent')
  plt.pie(population, labels=continent, explode=explode, autopct='%.1f%%', labeldistance=1.2, shadow=False, startangle=120)
  plt.show()

  conn[1].close()
  data = ""
  conn[0].close()

populationPieChart()

10. Given a csv file named “energy-production.csv”. It stores energy production of one area between 1973 and 2014. Write a series of functions to complete the following tasks. (50’)
*   (1) use “panda” to load the “energy-production.csv” file (10’)
*   (2) Write a function which accept year (1973-2014) as argument to retrieve the specific
year’s energy production in detail. (20’)
*   (3) use bar plot to display the retrieved result. (20’)

In [0]:
import pandas as pd
import matplotlib.pyplot as plt

def energyBarChart(year):
  data = pd.read_csv("energy-production.csv")
  row=len(data)
  columns = data.columns[2:]

  for i in range(row):
    if int(year) == data['Year'][i]:
      rowIndex = data.iloc[i]
      values = rowIndex[2:].values.tolist()

  plt.bar(columns,values)
  plt.xticks(rotation=-45)
  plt.tight_layout()
  plt.show()

year = input("please input a year between 1973-2014: ")
energyBarChart(year)